<ion-view view-title="Avis">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-minus-circled" ng-click="data.supprimer = !data.supprimer; data.montre = false;">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-compose" ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content class="splash" scroll ="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="bar  item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search plaholder-icon"></i>
        <input type="search" placeholder="ville" ng-model="ville"></input>
      </label>
    </div>
    <ion-list show-delete ="data.supprimer" ng-repeat="avis in lesavis | filter: ville">
        <ion-item menu-close class="item item-avatar item-text-wrap">
        	<img src="/pictures/face.png">
        	<span style="color:#28a54c;"><b>{{avis.nom}}</b> de <b>{{avis.ville}}</b></span>
          <ion-delete-button class="ion-minus-circled" ng-click="supprimerElement(avis)"></ion-delete-button>
          	<p class='avis'>
          		{{avis.avis}}
          	</p>
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button> 
        </ion-item>
      </ion-list>
      <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
