<ion-view view-title="Actualites">
  <ion-content class="splash">
    <ion-list class=" item-icon-right">
        <ion-item menu-close class="item-thumbnail-left item-text-wrap">
        	<img src="">
        	<h2>titre</h2>
        	<h3>sou-titre</h3>
          	<p>
          		Agriculture is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel, medicinal and other products used to sustain and enhance ...
          	</p>
        </ion-item>
        <ion-item menu-close class="item-thumbnail-left item-text-wrap">
        	<img src="">
        	<h2>titre</h2>
        	<h3>sou-titre</h3>
          	<p>
          		Agriculture is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel, medicinal and other products used to sustain and enhance ...
          	</p>
        </ion-item>
        <ion-item menu-close class="item-thumbnail-left item-text-wrap">
        	<img src="">
        	<h2>titre</h2>
        	<h3>sou-titre</h3>
          	<p>
          		Agriculture is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel, medicinal and other products used to sustain and enhance ...
          	</p>
        </ion-item>
        <ion-item menu-close class="item-thumbnail-left item-text-wrap">
        	<img src="">
        	<h2>titre</h2>
        	<h3>sou-titre</h3>
          	<p>
          		Agriculture is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel, medicinal and other products used to sustain and enhance ...
          	</p>
         </ion-item>
        <ion-item menu-close class="item-thumbnail-left item-text-wrap">
        	<img src="">
        	<h2>titre</h2>
        	<h3>sou-titre</h3>
          	<p>
          		Agriculture is the cultivation of animals, plants, fungi, and other life forms for food, fiber, biofuel, medicinal and other products used to sustain and enhance ...
          	</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
