<ion-view view-title="EVOLUTION">
  <ion-content>
    <h1><center>Mais</center></h1><br/>
      <h3><center>Prix Par Boite </center></h3>
	<div>
		<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick">
		</canvas> 
	</div>
  <br/>
      <h3><center>Prix Par Sceau</center></h3>
  <div>
    <canvas id="line" class="chart chart-line" data="datasceau" labels="labelsceau" legend="true" series="seriesceau" click="onClick">
    </canvas> 
  </div>
  </ion-content>
</ion-view>
