<view title="'login'">
    <content has-header="true" has-subheader="true">
        <form > 
            <label class="item item-input">
             <input type="text" placeholder="Login" ng-model="data.login">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="data.login">
            </label>
            <button class="button button-block button-positive" type="submit">
                conenxtion
            </button>

        </form>
    </content>
</view>