<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-image" >
      <img src="pictures/luck.jpg" alt="logo">
    </div>
    <form ng-submit="doLogin()">
      <div class="row responsive-sm">
        <div class="col">
          <label class="item item-input">
            <span class="input-label">Login</span>
            <input type="text" placeholder="Votre Login" ng-model="data.login">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label">password</span>
            <input type="password" placeholder="Votre mot de passe" ng-model="data.password">
          </label>
        </div>
        <div class="col">
          <button class="button button-block button-positive" type="submit"> 
               <i class="ion-ios-unlocked"></i>
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
