<ion-view view-title="MAP">
    <ion-content scroll="false" class="splash">
    <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()">Me localiser</button>
      <div class="mapWrap"  data-tap-disabled="true" ng-model="marche"> 
        Marche : {{marche.nom}}
        <map center="{{marche.latitude}},{{marche.longitude}}" zoom="15"> 
          <!-- ngRepeat: pos in positions -->
          <marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
        </map> 
      </div>
    </ion-content>
</ion-view>
