<ion-view view-title="Modifier le Prix">
    <ion-content class="splash" >
        <form ng-submit="">
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{"cat"| translate}}
                        </div>
                        <select ng-model="categorie" ng-options="categorie as categorie.nom for categorie in categories track by categorie.id" ng-change="updateProduits(categorie)" >
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{"pro"| translate}}
                        </div>
                        <select ng-model="produit" ng-options="produit as produit.nom for produit in produits track by produit.id" ng-change="updateVilles(produit)"></select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <div class="input-label">
                            {{"nprix"| translate}}
                        </div>
                        <input type="text" required  ng-model="element.nouveauPrix">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Etat
                        </div>
                        <select ng-model="element.etatPrix" >
                            <option value="Baisse">Baisse</option>
                            <option value="Haute">Haute</option>
                        </select>
                    </label>
                </div>
                <div class="col" >
                    <a class="button button-block button-balanced" ng-disabled="!element.nouveauPrix || !produit" ng-click="updatePrice(produit)">{{"action"| translate}}</a>
                </div>
                <div class="col">
                    <font color="green" ng-model="success">{{success}}</font>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
