<ion-view view-title="AUTRES PRIX">
    <ion-content ng-controller="AutresprixCtrl" class="splash">
        <h3 ng-model="produitSelected"><center>les prix dans les autres marches de la ville</center></h3>
        <div class="row responsive-sm">
            <ion-list ng-model="prixProduit" ng-repeat="produit in prixProduits">
                <div class="col">
                    <ion-item href="#" class="tata">Marche : {{produit.nomMarche}} prix : {{produit.prix}}</ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
