<ion-view view-title="Choix Produit">
    <ion-content class="splash" >  
        <form ng-submit="">
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{"cat"| translate}}
                        </div>
                        <select ng-model="categorie" ng-options="categorie as categorie.nom for categorie in categories track by categorie.id" ng-change="updateProduits(categorie)" >
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{"pro"| translate}}
                        </div>
                        <select ng-model="produit" ng-options="produit as produit.nom for produit in produits track by produit.id" ng-change="updateVilles(produit)"></select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="{{'vil' | translate}}" required  ng-model="data.search" ng-change="search()">
                    </label> 

                    <ion-list ng-repeat="airline in data.airlines | filter: data.search" ng-show="montrelist"> 
                        <ion-item  href="#" class="toto" ng-click="selectName(airline, produit)">
                            {{ airline.nom}}
                        </ion-item>
                    </ion-list>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{"mac"| translate}}
                        </div>
                        <select ng-model="marche" ng-options="marche as marche.nom  for marche in marches"></select>
                    </label>
                </div>
                <div class="col" >
                    <a class="button button-block button-balanced nom" href="#/app/playlists/{{produit.id}}/{{marche.id}}/{{idVille}}" ng-disabled="!marche">
                        <p class="nom">{{"pri"| translate}}</p>
                    </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
