/* Empty. Add your own CSS if you like */
.splash{
	background: url(../pictures/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}