.splash{
	/*background: url(../pictures/background.jpg) no-repeat center center fixed; */
	background: url(../pictures/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}